<h1> Login</h1>
<facebook-login-button></facebook-login-button>


<div ng-show="{{model.user.name}}" class="alert alert-info">
    Welcome, {{model.user.name}}!
</div>


<div>
    {{model.user.name}}
    <img ng-src="{{model.user.profilePicture}}">
</div>

<div>
        <button ng-click="model.loginFacebook()">
            Login with Facebook.
        </button>

        <button ng-click="model.logoutFacebook()">
            Logout with Facebook.
        </button>

        <button ng-click="model.shareFacebook()">
            Share to facebook.
        </button>
</div>

<div ng-repeat="photo in model.user.photos">
    <img ng-src="{{photo.source}}" height="300" >

</div>


<div ng-repeat="n in model.nums">
    {{n}}

</div>
