<!------------------------------------------------>
<!--Load Facebook SDK-->
<script>
    window.fbAsyncInit = function() {
        console.log("fb asynchronous is loaded");
        FB.init({
            appId      : 852027658298964,
            xfbml      : true,
            version    : 'v2.1'
        });

    };


    (function(d, s, id){
        console.log("Facebook Script Initialization:");
        console.log([d, s, id]);
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<h1> Login</h1>
<facebook-login-button></facebook-login-button>

Welcome, {{model.user.name}}!

<div>
    <img ng-src="{{model.user.profilePicture}}">
</div>

<div>
        <button ng-click="model.login()">
            Login with Facebook.
        </button>

        <button ng-click="model.logout()">
            Logout with Facebook.
        </button>

        <button ng-click="model.getPhotos()">
            GetPhotos with Facebook.
        </button>

        <button ng-click="model.shareFacebook()">
            Share to facebook.
        </button>
</div>


You have {{model.user.photos.length}} photos uploaded.
<div ng-repeat="photo in model.user.photos">
    <img ng-src="{{photo.source}}" height="300" >
</div>


<div ng-repeat="n in model.nums">
    {{n}}

</div>
