<!DOCTYPE html>
<div class="container-fluid">

    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">

            <!-- Page Header -->
            <span class="amh-white">Register</span>


        </div>

    </div>

    <!--Main View-->
    <div class="amh-shifted-down">


        <!-- Message showing  -->
        <div ng-show="model.user" class="alert alert-info">
            Welcome, {{model.user.username}}
        </div>

        <!--Error Message-->
        <div ng-show="errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>

        <form class="form-signin">

            <div class="amh-spacer">
                <label for="username" class="sr-only">Username</label>
                <input type="text"
                       name="username"
                       id="username"
                       ng-model="user.username"
                       class="form-control"
                       placeholder="Username">
            </div>


            <div class="amh-spacer">
                <label for="password" class="sr-only">Password</label>
                <input type="password"
                       name="password"
                       class="form-control"
                       id="password"
                       ng-model="user.password"
                       placeholder="Password">
            </div>


            <div class="amh-spacer">
                <label for="vpassword" class="sr-only">Verify Password</label>
                <input type="password"
                       name="vpassword"
                       class="form-control"
                       id="vpassword"
                       ng-model="user.password"
                       placeholder="Verify Password">
            </div>



            <div class="amh-spacer">
                <a class="btn btn-block amh-buttons amh-btn-clr-good"
                   name="register"
                   ng-click="model.registerUser(user)"
                   role="button">Register</a>
            </div>


            <div class="amh-spacer">
                <a class="btn btn-block amh-buttons amh-btn-clr-bad"
                   name="Register"
                   href="#!/login"
                   role="button">Cancel</a>
            </div>


        </form>
    </div>



</div>
