

<div class="container-fluid" ng-controller="websiteListController">


    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">

            <a href="#!/website/{{model.userId}}/list">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <span class="amh-white">Page List</span>

            <a href="#!/page/{{model.userId}}/{{model.webId}}/new">
                <span class="glyphicon glyphicon-plus amh-page-button-next"></span>
            </a>

        </div>

    </div>

    <!--Main View-->
    <div class="amh-shifted-down">

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>


        <ul class="list-group">

            <li ng-repeat="page in model.pages" class="list-group-item">
                <a href="#!/widget/{{model.userId}}/{{model.webId}}/{{page._id}}/list">
                    {{page.name}}
                </a>
                <a href="#!/page/{{model.userId}}/{{model.webId}}/{{page._id}}/edit">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>

    </div>



    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>

</div>
