
<div class="container-fluid" ng-controller="websiteListController">


    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">

            <!--Back Button-->
            <a href="#!/page/{{model.userId}}/{{model.webId}}/list">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <!-- Page Header -->
            <span class="amh-white">Edit Page</span>

            <!-- Top-Right Button -->
            <a ng-click="model.updatePage()">
                <span class="glyphicon glyphicon-ok amh-page-button-next"></span>
            </a>

        </div>

    </div>



    <!--Main View-->
    <div class="amh-shifted-down">

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>


        <form class="form-signin">

            <div class="amh-spacer">
                <label for="name">Name</label>
                <input type="text"
                       name="name"
                       id="name"
                       class="form-control"
                       ng-model="model.page.name"
                       placeholder="Page Name">
            </div>


            <div class="amh-spacer">
                <label for="description">Description</label>
                <textarea type="text"
                          name="description"
                          id="description"
                          class="form-control"
                          ng-model="model.page.description"
                          placeholder="Page description"></textarea>
            </div>



            <div class="amh-spacer">
                <a class="btn btn-block amh-btn-clr-bad"
                   id="deletePage"
                   name="deletePage"
                   ng-click="model.deletePage()"
                   role="button">Delete</a>
            </div>
        </form>
    </div>





    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>



</div>