

<div class="container-fluid" ng-controller="websiteListController">


    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">

            <!--Back Button-->
            <a href="#!/page/{{model.userId}}/{{model.webId}}/list">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <!-- Page Header -->
            <span class="amh-white">New Page</span>

            <!-- Top-Right Button -->
            <a ng-click="model.createPage()">
                <span class="glyphicon glyphicon-ok amh-page-button-next"></span>
            </a>

        </div>

    </div>

    <!--Main View-->
    <div class="amh-shifted-down">

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>

        <form class="form-signin">

             <div class="amh-spacer">
                    <label for="name">Name</label>
                    <input type="text"
                           name="name"
                           id="name"
                           class="form-control"
                           ng-model="model.page.name"
                           placeholder="Page Name">
            </div>


            <div class="amh-spacer">
                <label for="title">Title</label>
                <textarea type="text"
                          name="title"
                          id="title"
                          class="form-control"
                          ng-model="model.page.description"
                          placeholder="Page Title"></textarea>
            </div>


        </form>
    </div>





    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>




</div>