/*ul{*/
    /*list-style-type: none;*/
    /*margin:0;*/
    /*overflow:hidden;*/
/*}*/

a.btn#register{
    color: white;
    background-color: forestgreen;
}
a.btn#Logout{
    color: white;
    background-color: orangered;
}

a.btn#websites{
    color: white;
    background-color: forestgreen;
}
a.btn#Cancel{
    color: white;
    background-color: orangered;
}

.bg-faded{
    padding-top: 65px;
}
.amh-white{
    color: white;
    padding: 10px;
}

.amh-margins{
    margin-top 65px;
}
.amh-padded{
    padding-top: 65px;
    padding-bottom: 65px;

}

.list-group-item{
    border: none;
}

span.glyphicon {
    font-size: 1em;
}

/*li{*/
    /*float:left;*/
    /*padding: 10px 10px;*/
/*}*/


/*.sidebar-brand{*/
    /*float: left;*/
    /*width: 100px;*/
/*}*/
.amh-center-container{
    margin:auto;
    width: 600px;
}

.amh-sidebar-nav{
    float: none;
    left: 0;
    margin: 0;
    list-style: none;
}

li.amh-sidebar-nav{
    float: none;
    left: 0;
    margin: 0;
    list-style: none;
}

.navbar{
    color = white;
    background-color: royalblue;
}
.navbar.brand {
    color = white;
    background-color: royalblue;
}


.navbar-default .navbar-brand {
    color: white;
}