
<div class="amh-spacer">
    <h1>Detail for '{{model.label}}' Interest</h1>
</div>
<div ng-include="'navbar.html'"></div>


<div class="amh-spacer">
    Search for users with a specific interest: <input type="text" ng-model="model.inputLabel">
    <input type="button"
           class="amh-input btn btn-success"
           ng-click="model.searchInterest()"
           value="Find interest!">
</div>

<div class="amh-spacer">
    Users that also like this interest:
    <ul>
        <li class="amh-interest"
            ng-repeat="profileWhoLikesInterest in model.profilesWhoLikeInterest">
            {{profileWhoLikesInterest.firstName}} likes this interest.
            <a class="amh-input btn btn-success"
               ng-click="model.goToUser(profileWhoLikesInterest)">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </li>
    </ul>
</div>