<div class="amh-spacer">
    <input type="button"
           class="amh-input btn btn-success"
           ng-click="model.generateInterests()"
           value="Generate Interests based on bio!">
</div>


<div class="amh-spacer">
    <input type="text" ng-model="model.interestAddition">
    <input type="button"
           class="amh-input btn btn-success"
           ng-click="model.addInterest()"
           value="Add specific interest!">
</div>
<div class="amh-spacer">
    <ul>
        <li class="amh-interest"
            ng-repeat="interest in model.interests">
            <a class="amh-input btn btn-success"
                    ng-click="model.removeInterest()"
               value="Remove">
                {{interest}}
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </li>
    </ul>
</div>