
<div>
    <input type="submit"
           class="amh-input btn btn-success"
           ng-click="model.generateInterests()"
           value="Generate Interests based on bio!">
</div>

<div>
    Interests: {{model.interests}}.
</div>
Click on an interest to remove:
<div>
    <ul>
        <li ng-repeat="interest in model.interests">
            <a class="amh-input btn btn-success"
                    ng-click="model.removeInterest()"
               value="Remove">
                {{interest}}
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </li>
    </ul>
</div>