<h1 class="amh-header"> Login</h1>
<div ng-include="'navbar.html'"></div>




<form>
    <div class="amh-spacer">
        <label for="username">
            Username:
        </label>
        <input class="amh-input" type="text" ng-model="model.user.username">
    </div>
    <div class="amh-spacer">
        <label for="password">
            Password:
        </label>
        <input class="amh-input" type="text" ng-model="model.user.password">
    </div>
    <div class="amh-spacer">
        <input class="amh-input" type="submit"
               ng-click="model.login()"
               value="Login">
    </div>
    <div class="amh-spacer">
        <a href="/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>
    </div>
    <div class="amh-spacer">
        <a class="btn btn-info"
           href="#!/register">
            Register
        </a>
    </div>
</form>
