<!------------------------------------------------>
<!--Load Facebook SDK-->
<script>
    window.fbAsyncInit = function() {
        console.log("fb asynchronous is loaded");
        FB.init({
            appId      : 852027658298964,
            xfbml      : true,
            version    : 'v2.1'
        });

    };


    (function(d, s, id){
        console.log("Facebook Script Initialization:");
        console.log([d, s, id]);
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>



<div class="amh-center-container">
    <div class="amh-center-main">

        <h1> Account Information</h1>
        <span class="glyphicon glyphicon-user" style="font-size: 10em;"></span>
        <div class="amh-spacer">
            <label for="username">
                Username:
            </label>
            <input type="text" ng-model="model.user.username">
        </div>
        <div class="amh-spacer">
            <label for="email">
                Email:
            </label>
            <input type="email" ng-model="model.user.email">
        </div>
        <div class="amh-spacer">
            <label for="password">
                Password:
            </label>
            <input type="text" ng-model="model.user.password">
        </div>
        <div class="amh-spacer">
            <input type="button"
                   class="btn btn-success"
                   ng-click="model.updateUser()"
                   value="Update User">
        </div>
        <div class="amh-spacer">
            <input type="button"
                   class="btn btn-danger"
                   ng-click="model.deleteUser()"
                   value="Delete User">
        </div>


    </div>

</div>