<!------------------------------------------------>
<!--Load Facebook SDK-->
<script>
    window.fbAsyncInit = function() {
        console.log("fb asynchronous is loaded");
        FB.init({
            appId      : 852027658298964,
            xfbml      : true,
            version    : 'v2.1'
        });

    };


    (function(d, s, id){
        console.log("Facebook Script Initialization:");
        console.log([d, s, id]);
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<h1> Profile</h1>




<form>
    <div class="amh-spacer">
        <h2>Account Settings:</h2>
    </div>
    <div class="amh-spacer">
        <label for="username">
            Username:
        </label>
        <input type="text" ng-model="model.user.username">
    </div>
    <div class="amh-spacer">
        <label for="email">
            Email:
        </label>
        <input type="email" ng-model="model.user.email">
    </div>
    <div class="amh-spacer">
        <label for="password">
            Password:
        </label>
        <input type="text" ng-model="model.user.password">
    </div>


    <div class="amh-spacer">
        <h2>FriendProfile:</h2>
    </div>
    <div class="amh-spacer">
        <label for="firstName">
            First Name:
        </label>
        <input type="email" ng-model="model.user.profile.firstName">
    </div>
    <div class="amh-spacer">
        <label for="lastName">
            Last Name:
        </label>
        <input type="email" ng-model="model.user.profile.lastName">
    </div>
    <div class="amh-spacer">
        <label for="birthday">
            Birthday:
        </label>
        <input type="date" ng-model="model.user.profile.birthday">
    </div>

    <div class="amh-spacer">
        <label for="birthday">
            Location:
        </label>
        <input type="text"
               ng-model="model.user.profile.location.latitude"
               placeholder="Latitude">
        <input type="text"
               ng-model="model.user.profile.location.longitude"
               placeholder="Longitude">

        <button ng-click="model.getUserLocation()">
            Use my current location.
        </button>
    </div>


    <div class="amh-spacer">

        <label for="photos">
            Facebook Photo Upload:
        </label>
        <button ng-click="model.getPhotos()">
            GetPhotos with Facebook.
        </button>
    </div>


    <div class="amh-spacer">
        <input type="button" ng-click="model.updateUser()" value="Update User">
    </div>
</form>



You have {{model.user.photos.length}} photos uploaded.
<div ng-repeat="photo in model.user.photos">
    <img ng-src="{{photo.source}}" height="300" >
</div>


<div ng-repeat="n in model.nums">
    {{n}}

</div>
