<h1> Register</h1>

<form>
    <div class="amh-spacer">
        <label for="username">
            Username:
        </label>
        <input type="text" ng-model="model.user.username">
    </div>
    <div class="amh-spacer">
        <label for="password">
            Password:
        </label>
        <input type="text" ng-model="model.user.password">
    </div>
    <div class="amh-spacer">
        <label for="email">
            Email:
        </label>
        <input type="text" ng-model="model.user.email">
    </div>
    <div class="amh-spacer">
        <input type="submit" ng-click="model.register()" value="Register">
    </div>
    <div class="amh-spacer">
        <a class="btn btn-default" href="#!/">Cancel
        </a>

    </div>
</form>