<ul class="amh-widget-list">
    <li ng-repeat="widget in widgets">
        <!--{{widget}}-->
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING" id="headingWidget">

            <a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">

                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>

            <ng-include src="'widget/templates/views/widget-heading.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="TEXT">

        <a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">

            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
        <ng-include src="'widget/templates/view/widget-text.view.client.html'">
        </ng-include>

        </div>
        <div ng-switch-when="IMAGE"
             id="imageWidget">

            <a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">

                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <ng-include src="'widget/templates/views/widget-image.view.client.html'">
            </ng-include>
        </div>
        <div ng-switch-when="YOUTUBE"
             id="youtubeWidget"
             class="youtube-widget">

            <a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">

                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <ng-include src="'widget/templates/views/widget-youtube.view.client.html'">
            </ng-include>
        </div>

        </div>

    </li>
</ul>


<!--<li class="ui-state-default"-->
    <!--ng-repeat="widget in model.widgets"-->
    <!--id="widgetList">-->
    <!--&lt;!&ndash;{{widget.widgetType}}&ndash;&gt;-->
    <!--<div ng-switch="widget.widgetType">-->
        <!--<divng-switch-when="HEADING"-->
                <!--id="headingWidget">-->

            <!--<a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">-->

                <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
            <!--</a>-->

            <!--<ng-include src="'widget/templates/views/widget-heading.view.client.html'">-->
            <!--</ng-include>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div ng-switch-when="TEXT">&ndash;&gt;-->

        <!--<a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">-->

            <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
        <!--</a>-->
        <!--<ng-include src="'widget/templates/view/widget-text.view.client.html'">-->
        <!--</ng-include>-->

        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div ng-switch-when="IMAGE"-->
             <!--id="imageWidget">-->

            <!--<a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">-->

                <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
            <!--</a>-->
            <!--<ng-include src="'widget/templates/views/widget-image.view.client.html'">-->
            <!--</ng-include>-->
        <!--</div>-->
        <!--<div ng-switch-when="YOUTUBE"-->
             <!--id="youtubeWidget">-->

            <!--<a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">-->

                <!--<span class="glyphicon glyphicon-cog pull-right"></span>-->
            <!--</a>-->
            <!--<ng-include src="'widget/templates/views/widget-youtube.view.client.html'">-->
            <!--</ng-include>-->
        <!--</div>-->

    <!--</div>-->
<!--</li>-->