.amh-navbar{
    background-color: black;
    color: white;
    padding: 20px;
}

.amh-jumbotron{
    background-color: rgba(25, 25, 112, 0.64);
    color:white;
}
.amh-map{
    position: absolute;
    top: 80px;

}
a.jumboLink{
    color:blue;
    position: relative;
    right: 0;
    padding: 100px;
}

.amh-header{
    font-size: 1.2em;
    padding: 20%;
    color: rgba(207,237,249,255);
}
.amh-shifted-down{
    padding-top: 80px;
    padding-bottom: 80px;
}


.amh-page-button-prev{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 20px;
    color: white;
    font-size: 2em;
}
.amh-page-button-next{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    color: white;
    font-size: 2em;
}
.amh-footer-btn{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    color: white;
}


/* MAPS */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 75%;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}