/* Title Bar */
.amh-title-bar{
    background-color: #1A181B;
    color: rgba(207,237,249,255);
}
.amh-title-bar a{
    background-color: #1A181B;
    color: rgba(207,237,249,255);
}
.amh-site-name{
    font-size: 2em;
    /*padding: 20%;*/
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30%;
    /*padding-bottom: 30%;*/
    color: rgba(207,237,249,255);
}
.amh-page-button-prev{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    color: rgba(207,237,249,255);
    font-size: 2em;
}
.amh-page-button-next{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    color: #05F140;
    font-size: 2em;
}

/* Navigation Bar */
.amh-navbar{
    background-color: black;
}
.amh-nav-link{
    float: left;
    display: block;
    color: rgba(207,237,249,255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Footer Bar */
.amh-footer-btn{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    color: rgba(207,237,249,255);
}


/* Main body content styling */

.amh-input{
    color: black;
}


/* Use these two classes to center without percentages */
.amh-center-container{
    text-align: center;
}
.amh-center-main{
    display: inline-block;
    width: 100%;
}

/* Generic Form Classes */
.amh-skill{
    padding: 5px;
    margins: 10px;
    font-size: 2em;
}
.amh-spacer{
    padding: 5px;
    margins: 10px;
}
.amh-header{
    font-size: 2em;
    color: rgba(207,237,249,255);
}
.amh-shifted-down{
    padding-top: 80px;
    padding-bottom: 80px;
}


/* MAPS */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.amh-map{
    position: absolute;
    top: 80px;

}
#map,  #pano  {
    height: 75%;
    width: 100%;
}

.btn-danger{
    background-color: #4F0000;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #4a297d;
    color: rgba(207,237,249,255);
}