

<h3>DEMO</h3>

<p id="demo">Click the button to get your position.</p>

<button ng-click="model.getLocation()">Try It</button>
{{model.msg}}

<div>
    <label for="myLat">
        Latitude
        <input type="text" ng-model="model.myLat">
    </label>
</div>

<div>
    <label for="myLat">
        Longitude
        <input type="text" ng-model="model.myLon">
    </label>
</div>

<button ng-click="model.moveMap()">GO HERE</button>


<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApxo8W1f-xebWiMEjYMyphOI5eUHxu8pg&callback=initMap"
        async defer></script>