

<div class="container-fluid" ng-controller="widgetEditController">


    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">


            <!-- Back Button -->
            <a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/list">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <!-- Page Header -->
            <span class="amh-white">Widget Edit</span>

            <!-- Top-Right Button -->
            <a ng-click="model.updateWidget()">
                <span class="glyphicon glyphicon-ok amh-page-button-next"></span>
            </a>

        </div>

    </div>


    <!-- TODO: put code into view directory! -->

    <!--Main View-->
    <div class="amh-shifted-down">

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>

        <!--Editing widget for user {{model.userId}},-->
        <!--website {{model.webId}},-->
        <!--page {{model.pageId}},-->
        <!--widget #{{model.widgetId}},-->
        <!--of type {{model.widget.widgetType}}.-->


        <div ng-switch="model.widget.widgetType">
            <div ng-switch-when="HEADING">
                    <ng-include src="'widget/templates/edit/widget-heading-edit.view.client.html'">
                    </ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                    <ng-include src="'widget/templates/edit/widget-image-edit.view.client.html'">
                    </ng-include>
            </div>
            <!--<div ng-switch-when="LINK">-->
                <!--<ng-include src="'widget/templates/edit/widget-link-edit.view.client.html'">-->
                <!--</ng-include>-->
            <!--</div>-->
            <!--<div ng-switch-when="TEXT">-->
                <!--<ng-include src="'widget/templates/edit/widget-text-edit.view.client.html'">-->
                <!--</ng-include>-->
            <!--</div>-->
            <!--<div ng-switch-when="BUTTON">-->
                <!--<ng-include src="'widget/templates/edit/widget-button-edit.view.client.html'">-->
                <!--</ng-include>-->
            <!--</div>-->
            <div ng-switch-when="YOUTUBE">
                    <ng-include src="'widget/templates/edit/widget-youtube-edit.view.client.html'">
                    </ng-include>
            </div>

        </div>
    </div>


    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>
</div>