

<div class="container-fluid" ng-controller="widgetEditController">


    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">


            <!-- Back Button -->
            <a href="#!/page/{{model.userId}}/{{model.webId}}/list">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <!-- Page Header -->
            <span class="amh-white">Widget Edit</span>

            <!-- Top-Right Button -->
            <a href="#!/page/{{model.userId}}/{{model.webId}}/list">
                <span class="glyphicon glyphicon-ok amh-page-button-next"></span>
            </a>

        </div>

    </div>


    <!-- TODO: put code into view directory! -->

    <!--Main View-->
    <div class="amh-shifted-down">
        <!--{{model.userId}},-->
        <!--{{model.webId}},-->
        <!--{{model.pageId}},-->
        <!--{{model.widgetId}}.-->
        <!--{{model.widget.widgetType}}-->
        <!--{{model.userId}}-->
        <!--<ng-include src="{{getIncludedWidget()}}">-->

        <div ng-include="'home.html'">
        </div>


        <div ng-include="model.getIncludedWidget()">
        </div>

        <!--<div ng-switch="widget.widgetType">-->


        <!--<div ng-switch="'HEADING'">-->
            <!--<div ng-switch-when="HEADING">-->
                <!--heading:-->
                <!--&lt;!&ndash;<div ng-include="'#!/widget/templates/widget-header-edit.view.client.html'">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<div ng-switch-when="IMAGE">-->
                <!--image-->
                <!--<ng-include src="'#!/widget/templates/widget-image-edit.view.client.html'">-->
                <!--</ng-include>-->
            <!--</div>-->
            <!--<div ng-switch-when="YOUTUBE">-->
                <!--youtube-->
                <!--<ng-include src="'#!/widget/templates/widget-youtube-edit.view.client.html'">-->
                <!--</ng-include>-->
            <!--</div>-->
        <!--</div>-->
    </div>


    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>
</div>