


<div class="container-fluid" ng-controller="websiteListController">


    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">


            <!-- Back Button -->
            <a href="#!/page/{{model.userId}}/{{model.webId}}/list">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <!-- Page Header -->
            <span class="amh-white">Widget List</span>

            <!-- Top-Right Button -->
            <a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/chooser">
                <span class="glyphicon glyphicon-plus amh-page-button-next"></span>
            </a>

        </div>

    </div>


    <!--Main View-->
    <div class="amh-shifted-down">


<!--new-->

        <div ng-repeat="widget in model.widgets">
            <!--{{widget.widgetType}}-->
            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">

                    <a href="#!/widget/{{model.userId}}/{{model.webId}}/{{model.pageId}}/{{widget._id}}/edit">

                        <span class="glyphicon glyphicon-cog pull-right"></span>

                        <ng-include src="'widget/templates/widget-heading.view.client.html'">
                        </ng-include>
                    </a>
                </div>
                <div ng-switch-when="IMAGE">

                    <a href="#!/widget/{{model.userId}}/{{model.webId}}/edit">

                        <span class="glyphicon glyphicon-cog pull-right"></span>
                        <ng-include src="'widget/templates/widget-image.view.client.html'">
                        </ng-include>
                    </a>
                </div>
                <div ng-switch-when="YOUTUBE">

                    <a href="#!/widget/{{model.userId}}/{{model.webId}}/edit">

                        <span class="glyphicon glyphicon-cog pull-right"></span>
                        <ng-include src="'widget/templates/widget-youtube.view.client.html'">
                        </ng-include>
                    </a>
                </div>

            </div>
        </div>







    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>


</div>