


<div class="container-fluid" ng-controller="websiteListController">


    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">


            <!-- Back Button -->
            <a href="#!/page/{{model.userId}}/{{model.webId}}/list">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <!-- Page Header -->
            <span class="amh-white">Widget List</span>

            <!-- Top-Right Button -->
            <a href="#!/page/{{model.userId}}/{{model.webId}}/list">
                <span class="glyphicon glyphicon-ok amh-page-button-next"></span>
            </a>

        </div>

    </div>


    <!--Main View-->
    <div class="amh-shifted-down">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="widget-heading.view.client.html">

                    <!-- Settings Button -->

                    <span class="glyphicon glyphicon-cog pull-right"></span>

                    <!--- Widget 1 --->

                    <h1 class="widgetHeading"> The History of Music</h1>

                </a>

            </li>



            <li class="list-group-item">
                <a href="widget-heading.view.client.html">

                    <!-- Settings Button -->

                    <span class="glyphicon glyphicon-cog pull-right"></span>

                    <!--- Widget 1 --->

                    <h2 class="widgetHeading"> From Traditional compositions to Bruno Mars</h2>

                </a>

            </li>


            <li class="list-group-item">
                <a href="widget-heading.view.client.html">

                    <!-- Settings Button -->

                    <span class="glyphicon glyphicon-cog pull-right"></span>

                    <!--- Widget 1 --->

                    <h3 class="widgetHeading"> By Alex Helderman</h3>

                </a>

            </li>

            <li class="list-group-item">
                <a href="widget-image.view.client.html">

                    <!-- Settings Button -->

                    <span class="glyphicon glyphicon-cog pull-right"></span>

                    <!--- Widget 1 --->

                    <img src="https://s-media-cache-ak0.pinimg.com/736x/86/a4/c4/86a4c42a87c89cd92f2f475e018c396e--hand-carved-musical-instruments.jpg" \>


                </a>

            </li>


            <li class="list-group-item">
                <a href="widget-heading.view.client.html">

                    <!-- Settings Button -->

                    <span class="glyphicon glyphicon-cog pull-right"></span>

                    <!--- Widget 1 --->

                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."



                </a>

            </li>


            <li class="list-group-item">
                <a href="widget-youtube.view.client.html">

                    <!-- Settings Button -->

                    <span class="glyphicon glyphicon-cog pull-right"></span>

                    <!-- Widget #2 -->
                    <!--Youtube-->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PMivT7MJ41M" frameborder="0" allowfullscreen></iframe>


                </a>
            </li>




            <li class="list-group-item">
                <a href="widget-heading.view.client.html">

                    <!-- Settings Button -->

                    <span class="glyphicon glyphicon-cog pull-right"></span>

                    <!--- Widget 1 --->

                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."



                </a>
            </li>

        </ul>

    </div>







    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>


</div>