<h1 class="amh-header">Friend Profile</h1>
<div ng-include="'navbar.html'"></div>

{{model.profile}}

<form>
    <div class="amh-spacer">
        <label for="firstName">
            First Name:
        </label>
        <input class="amh-input" type="text" ng-model="model.profile.firstName">
    </div>
    <div class="amh-spacer">
        <label for="lastName">
            Last Name:
        </label>
        <input class="amh-input" type="text" ng-model="model.profile.lastName">
    </div>
    <div class="amh-spacer">
        <label for="birthday">
            Birthday:
        </label>
        <input class="amh-input" type="date" ng-model="model.profile.birthday">
    </div>

    <div class="amh-spacer">
        <label for="birthday">
            Location:
        </label>
        <input class="amh-input" type="text"
               ng-model="model.profile.location.lat"
               ng-change="model.getUserLocation()"
               placeholder="Latitude">
        <input class="amh-input" type="text"
               ng-model="model.profile.location.lng"
               ng-change="model.getUserLocation()"
               placeholder="Longitude">

        <button ng-click="model.getUserLocation()"
                class="btn btn-default">
            Use my current location.
        </button>
    </div>


    <div class="amh-spacer">

        <label for="photos">
            Facebook Photo Upload:
        </label>
        <button ng-click="model.getFacebookPhotos()"
                class="btn btn-info">
            GetPhotos with Facebook.
        </button>
    </div>
    <div class="amh-spacer">
        <input type="button"
               class="amh-input btn btn-success"
               ng-click="model.updateProfile()"
               value="Update Profile">
    </div>


</form>



You have {{model.user.photos.length}} photos uploaded.
<div ng-repeat="photo in model.user.photos">
    <img ng-src="{{photo.source}}" height="300" >
</div>


<div ng-repeat="n in model.nums">
    {{n}}

</div>
