
<div class="container-fluid" ng-controller="websiteListController">

    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">

            <a href="#!/profile/{{model.userId}}">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <span class="amh-white">Website List</span>

            <a href="#!/website/{{model.userId}}/new">
                <span class="glyphicon glyphicon-plus amh-page-button-next"></span>
            </a>

        </div>

    </div>


    <!--Main View-->
    <div class="amh-shifted-down">
        <!-- List of Entries -->
        <ul class="list-group">
        <!--<ul class="list-group">-->
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#!/#page-list">
                    {{website.name}}
                </a>
                <a href="#!/website/{{model.userId}}/edit">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>

    </div>


    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>


</div>