
<div class="container-fluid" ng-controller="websiteNewController">

    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">

            <a href="#!/website/{{model.userId}}/list">
                <span class=" glyphicon glyphicon-chevron-left amh-page-button-prev"></span>
            </a>

            <span class="amh-white">Edit Website</span>

            <a ng-click="model.updateWebsite()">
                <span class="glyphicon glyphicon-ok amh-page-button-next"></span>
            </a>

        </div>
    </div>


    <!--Main View-->
    <div class="amh-shifted-down row">

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>


        <!-- Column One - List of created websites -->

        <div class="col-sm-6 hidden-xs">

            <!-- List of Entries -->
            <ul class="list-group">
                <!--<ul class="list-group">-->
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <a href="#!/page/{{model.userId}}/{{website._id}}/list">
                        {{website.name}}
                    </a>
                    <a href="#!/website/{{model.userId}}/{{website._id}}/edit">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>

        </div>



        <!-- Column Two - Form to edit site -->

        <div class="col-sm-6">

            <div class="container-fluid amh-padded">



                <form class="form-signin">
                    <div class="amh-spacer">
                        <label for="name">Name</label>
                        <input type="text"
                               name="name"
                               id="name"
                               class="form-control"
                               ng-model="model.website.name"
                               placeholder="Page Name">
                    </div>

                    <div class="amh-spacer">
                        <label for="title">Title</label>
                        <textarea type="text"
                                  name="title"
                                  id="title"
                                  class="form-control"
                                  ng-model="model.website.description"
                                  placeholder="Page Title">
                        </textarea>
                    </div>

                </form>
            </div>

        </div>

    </div>

    <!-- Footer Bar -->
    <div class="container-fluid navbar navbar-fixed-bottom amh-navbar" >
        <div class="">
            <!-- Profile Button -->
            <a class="navbar-brand" href="#">
                <a href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user amh-footer-btn"></span>
                </a>
            </a>
        </div>
    </div>



</div>