<!--Partial HTML Document-->


<div class="container-fluid" ng-controller="loginController">

    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">

            <span class="amh-white">Login</span>

        </div>

    </div>


    <!--Main View-->
    <div class="amh-shifted-down">

        <form class="form-signin ">

            <!-- Message showing  -->
            <div ng-show="model.user" class="alert alert-info">
                Welcome, {{model.user.username}}
            </div>

            <!--Error Message-->
            <div ng-show="errorMessage" class="alert alert-danger">
                {{model.errorMessage}}
            </div>


            <div class="amh-spacer">
                <label for="username" class="sr-only">Username</label>
                    <input type="text"
                           name="username"
                           id="username"
                           ng-model="model.user.username"
                           class="form-control"
                           placeholder="Alice">
            </div>

            <div class="amh-spacer">
                <label for="password" class="sr-only">Password</label>
                    <input type="password"
                           name="password"
                           ng-model="model.user.password"
                           class="form-control"
                           id="password"
                           placeholder="Roast68SaltTable">
            </div>

            <div class="amh-spacer">
                <input type="submit"
                       class="btn btn-block amh-buttons amh-btn-clr-good"
                   name="Login"
                   role="button"
                   ng-click="model.login(model.user)"
                value="Login"></input>
            </div>

            <div class="amh-spacer">
                <a class="btn btn-block amh-buttons amh-btn-clr-info"
                   name="Register"
                   href="#!/register"
                   role="button">Register</a>
            </div>
        </form>

    </div>



</div>

