<div class="container-fluid" ng-controller="profileController">


    <!-- Nav Bar -->
    <div class=" navbar navbar-fixed-top amh-navbar">

        <div class="navbar-header navbar-brand">

            <!-- Page Header -->
            <span class="amh-white">Profile</span>


        </div>

    </div>

    <!-- Main View -->
    <div class="amh-shifted-down">
        <form class="form-group">

            <div class="amh-spacer">

                <!--From class example  -->
                <div ng-show="model.infoMessage" class="alert alert-info">
                    {{model.infoMessage}}
                </div>
                <!--Error Message-->
                <div ng-show="model.errorMessage" class="alert alert-danger">
                    {{model.errorMessage}}
                </div>


                <div ng-show="welcomeUser">
                    Welcome user {{model.user.username}}
                </div>

            </div>


            <div class="amh-spacer">
                <label for="username">Username</label>
                <input type="text"
                       name="username"
                       id="username"
                       ng-model="model.user.username"
                       class="form-control">
            </div>


            <div class="amh-spacer">
                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       ng-model="model.user.email"
                       class="form-control"
                       placeholder="Alice@Wonderland.com">
            </div>

            <div class="amh-spacer">

                <label for="firstName">First Name</label>
                <input type="text"
                       name="firstName"
                       id="firstName"
                       class="form-control"
                       ng-model="model.user.firstName"
                       placeholder="Alice">

            </div>

            <div class="amh-spacer">
                <label for="lastName">Last Name</label>
                <input type="text"
                       name="firstName"
                       id="lastName"
                       ng-model="model.user.lastName"
                       class="form-control"
                       placeholder="Smith">
            </div>

            <div class="amh-spacer">
                <a class="btn btn-block amh-btn-clr-info"
                   id="websites"
                   name="Websites"
                   href="#!/website/{{model.user._id}}/list"
                   role="button">Websites</a>
            </div>

            <div class="amh-spacer">
                <a class="btn btn-block amh-btn-clr-bad"
                   id="Logout"
                   name="Logout"
                   href="#!/login"
                   role="button">Log out</a>
            </div>

            <div class="amh-spacer">
                <a class="btn btn-block amh-btn-clr-bad"
                   id="unregister"
                   name="unregister"
                   ng-click="model.unregister(user)"
                   role="button">Unregister</a>
            </div>


            <div class="amh-spacer">
                <a class="btn btn-block amh-btn-clr-good"
                   id="updateuser"
                   name="updateuser"
                   ng-click="model.updateUser(user)"
                   role="button">Update user</a>
            </div>


        </form>
    </div>


</div>