

<div class="container-fluid amh-padded">



    <form class="form-signin"
          action="/api/upload"
          method="post"
          enctype="multipart/form-data">


        <div class="amh-spacer">
            <label for="name">Name</label>
            <input type="text"
                   name="name"
                   id="name"
                   class="form-control"
                   ng-model="model.widget.name"
                   placeholder="Widget Name">
        </div>


        <div class="amh-spacer">
            <label for="imageText">Text</label>
            <textarea type="text"
                      name="imageText"
                      id="imageText"
                      class="form-control"
                      ng-model="model.widget.text"
                      placeholder="Text associated with your image."></textarea>
        </div>


        <div class="amh-spacer">
            <label for="url">URL</label>
            <textarea type="text"
                      name="url"
                      id="url"
                      class="form-control"
                      ng-model="model.widget.url"
                      placeholder="http://..."></textarea>
        </div>

        <div class="amh-spacer">
        <a class="btn btn-block amh-buttons amh-btn-clr-bad"
           id="delete"
           name="delete"
           ng-click="model.deleteWidget()"
           role="button">Delete</a>
        </div>


    </form>


    <!--Photo Upload Form-->
    <form class="form-signin"
          action="/api/upload"
          method="post"
          enctype="multipart/form-data">

        <div class="amh-spacer">
            <label for="myFile">Image Upload</label>
            <input type="file"
                   name="myFile"
                   id="myFile"
                   class="form-control">
            <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
            <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.webId}}"   style="display: none"/>
            <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
            <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        </div>


        <div class="amh-spacer">
            <input type="submit"
                   class="btn btn-block amh-buttons amh-btn-clr-info"
                   id="uploadImage"
                   name="uploadImage"
                   role="button"
                    value = "Upload Image File">
        </div>

    </form>


</div>

